*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    word-break: break-word;
    text-decoration: none;
    line-height: 125%;
}

img{
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    align-self: center;
}

.mainscreen{
    background-color: gainsboro;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.status{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status h2{
    background-color: white;
    height: 36px;
    margin: 10px;
    padding: 10px;
    border-style: double;
    border-radius: 8px;
}

.status p{
    background-color: white;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border-style: double;
    border-radius: 8px;
}

.actions{
    height: 55px;
    display: flex;
    justify-content: space-evenly;
}

.actions a{
    background-color: #209cee;
    color: white;
    margin: 10px;
    padding: 10px 10px;
    border-style: double;
    border-radius: 8px;
}

@media screen and (min-width: 375px) {
    *{
        font-size: 10px;
    }
    img{
        padding: 10px;
    }
}

@media screen and (min-width: 414px) {
    *{
        font-size: 11px;
    }
    img{
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    *{
        font-size: 16px;
    }
    img{
        padding: 20px;
    }
    .status h2{
        height: 50px;
    }
    .status p{
        height: 90px;
    }
    .actions{
        height: 65px;
    }
}

@media screen and (min-width: 1024px) {
    *{
        font-size: 20px;
    }
    img{
        padding: 50px;
    }
    .status h2{
        height: 70px;
    }
    .status p{
        height: 120px;
    }
    .actions{
        height: 70px;
    }
}

@media screen and (min-width: 1024px) {
    *{
        font-size: 14px;
    }
    img{
        padding: 10px;
        width: 35%;
        height: 35%;
    }
    .status h2{
        height: 45px;
    }
    .status p{
        height: 70px;
    }
    .actions{
        height: 60px;
    }
}

@media screen and (min-width: 1366px) {
    *{
        font-size: 14px;
    }
    img{
        padding: 10px;
        width: 25%;
        height: 25%;
    }
    .status h2{
        height: 45px;
    }
    .status p{
        height: 70px;
    }
    .actions{
        height: 60px;
    }
}